<div>
    <div>
    <!-- <input class="form-control form-control-lg" type="text" placeholder=".form-control-lg"
      aria-label=".form-control-lg example">
    </div>
    <br>
    <div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
        <label class="form-check-label" for="inlineRadio1">1</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
        <label class="form-check-label" for="inlineRadio2">2</label>
      </div>
    </div> -->
    <div class="container m-5 p-5">
      <table class="table">
        <thead>
          <tr class=" table-dark">
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Status</th>
            <th scope="col">Email</th>
            <th scope="col">Updation</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let data of employees; let i=index;">
            <th scope="row">{{i+1}}</th>
            <td>{{data.name}}</td>
            <td>{{data.Status}}</td>
            <td>{{data.email}}</td>
            <td>
              <button  type="submit" class="btn mb-3" style="background-color: #FFDDC7;color:#FF8730" >Update</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>