<div class="py-5 text-center" style="background-image: url('https://static.pingendo.com/cover-bubble-dark.svg');background-size:cover;" >
    <div class="container">
      <div class="row">
        <div class="bg-white p-5 mx-auto col-md-8 col-10">
          <h3 class="display-3">Welcome to thePeopleOrder</h3>
          <!-- <p class="mb-3 lead">Of existence in this spot</p> -->
          <p class="mb-4">Tag Line</p> <a class="btn btn-outline-primary" href="#">Visist Website</a>
        </div>
      </div>
    </div>
  </div>