<div class="py-5 text-center" style="height:80vh;background-image: url('../../assets/images/background.png');background-size:cover;" >
    <div class="container">
      <div class="row p-5">
        <div class=" p-5 mx-auto my-2 col-md-8 col-10" style="background-color: #FFEDE1;">
          <h3 class="display-3">Welcome to thePeopleOrder</h3>
          <!-- <p class="mb-3 lead">Of existence in this spot</p> -->
          <p class="mb-4">Tag Line</p> <a class="btn btn-outline-primary" href="#">Visist Website</a>
        </div>
      </div>
    </div>
  </div>
<div class="bg-dark" style="height:20vh">
  <div class="container">
    <div class="row p-5 m-auto">
      <h4 class="text-center" style="color:white">Made In India</h4> 
    </div>
  </div>
</div>