<div>
  <div class="container m-5 p-5">
    <table class="table">
      <thead>
        <tr class=" table-dark">
          <th scope="col">#</th>
          <th scope="col">Company Name</th>
          <th scope="col">Juke</th>
          <th scope="col">Username</th>
          <th scope="col">Active Status</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr *ngFor="let data of companies; let i=index;">
          <th scope="row">{{i+1}}</th>
          <td>{{data.companyName}}</td>
          <td>{{data.isActive==true?"Active":"InActive"}}</td>
          <td>{{data.email}}</td>
          <td>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" [checked]="data.isActive" (change)="updateCompanyById($event,data)">
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>