<nav class="navbar navbar-expand-md navbar bg-dark" data-bs-theme="dark" *ngIf="signedIn">
  <div class="container"> 
    <!-- <a class="navbar-brand text-primary" href="#"> -->
      <i class="fa d-inline fa-lg fa-stop-circle"></i>
      <b style="color: azure;"> thePeopleOrder</b>
    <!-- </a>  -->
    <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar4">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar4">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" *ngIf="!superAdmin"> <a class="nav-link" routerLink="/dashboard/addEmployees" >Add Employee</a> </li>
        <!-- <li class="nav-item" *ngIf="!superAdmin"> <a class="nav-link" routerLink="/dashboard/report">Reports</a> </li> -->
        <!-- <li class="nav-item" *ngIf="!superAdmin"> <a class="nav-link" routerLink="/dashboard/alert">Reports</a> </li> -->
        <li class="nav-item" *ngIf="!superAdmin"> <a class="nav-link" routerLink="/dashboard">Employees</a> </li>
        <li class="nav-item" *ngIf="!superAdmin"> <a class="nav-link" routerLink="/dashboard/Profile">Profile</a> </li>
        <li class="nav-item" *ngIf="superAdmin"> <a class="nav-link" routerLink="/sAdmin/createCompanies">Add Companies</a> </li>
        <li class="nav-item" *ngIf="superAdmin"> <a class="nav-link" routerLink="/sAdmin/reportCompanies">Reports</a> </li>
        <li class="nav-item" *ngIf="superAdmin"> <a class="nav-link" routerLink="/sAdmin">Companies</a> </li>
        <ng-container *ngIf="signedIn">
          <li class="nav-item"> <a class="nav-link"  (click)="logOut()">Log Out</a> </li>
        </ng-container>
      </ul> 
      <!-- <a class="btn navbar-btn ml-md-2 btn-light">Contact us</a> -->
    </div>
  </div>
</nav>
<div class="container-fluid p-0" style="height:100vh">
<router-outlet></router-outlet>
</div>